body {
    background-color: azure;
    text-align: center;
}

h1 {
    color: rgb(238, 145, 6);
}

p {
    color: black;
}

div {
    display: inline-block;
    height: 50px;
    width: 400px;
    border: 3px dotted rgb(247, 135, 154);
}